@font-face {
  font-family: tungsten;
  src: url(./assets/fonts/TungstenCond-Light.otf);
}

@font-face {
  font-family: teko;
  src: url(./assets/fonts/Teko-Light.ttf);
}

:root {
  --dark: rgb(9, 100, 128);
  --light: rgb(79, 181, 221);
}

html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
  height: 100vh !important;
}

#page {
  position: relative;
  z-index: 0;
  height: 100vh;
}

#header-back,
#footer-back {
  position: fixed;
  left: 0;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#site-body {
  position: relative;
  z-index: 2;
}

#header-back {
  display: inline-block;
  top: 0;
  height: 400px !important;
  background-image: url("./assets/images/header-footer/header_background.png");
  background-position: bottom;
  z-index: 0;
}

#footer-back {
  bottom: 0 !important;
  height: 300px !important;
  background-image: url("./assets/images/header-footer/footer_background.png");
  background-position: top;
  z-index: -1;
}

#work-page,
#resume-page,
#about-page,
#contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

/* NAVIGATION */
header {
  width: 100vw;
  padding: 30px 0px;
  height: fit-content;
  background-size: cover;
  justify-content: center;
  background-position-y: top;
}

nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#header {
  width: 80%;
  margin: auto;
}

h1 {
  font-family: teko, sans-serif;
  font-size: 40px;
  line-height: 40px;
  margin: 0px;
  color: var(--light);
}

/* LINKS */
header a h1 {
  width: 100px;
  font-family: teko, sans-serif;
  display: inline;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark);
  margin: 30px;
  text-align: center;
  text-decoration: none;
}

.h1active h1,
nav a h1:hover {
  color: white;
  transition: ease;
}

.h1:active {
  color: white;
}

a {
  border-style: none;
  text-decoration: none !important;
}

#logo {
  max-width: 140px;
  max-height: auto;
}

#logolockup {
  display: flex;
  justify-items: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#logolockup div {
  margin-left: 10px;
}

#name {
  background: -webkit-linear-gradient(rgb(70, 167, 220), rgb(51, 156, 205));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
}

#name2 {
  background: -webkit-linear-gradient(rgb(59, 96, 133), rgb(15, 63, 112));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
  margin-top: -10px;
}

/* WORK */
.work-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#work-page h3 {
  font-family: Tungsten, sans-serif;
  letter-spacing: 3px;
  text-align: left;
  font-size: 26px;
  line-height: 26px;
  color: var(--light);
  margin: 10px;
}

#work-page h3:hover {
  color: white;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark);
  padding: 5px;
  width: fit-content;
  height: 40px;
}

.git_link {
  width: 30px;
  margin: 0px 5px 0px 5px;
}

a img.hover {
  display: none;
}
a img.default {
  display: inherit;
}
a:hover img.hover {
  display: inherit;
}
a:hover img.default {
  display: none;
}

article {
  display: block;
  margin: 0px 20px 40px 20px;
  height: 300px;
  max-width: 500px;
  flex-basis: 50%;
  flex-grow: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid var(--dark);
  box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.12);
}

.work1 {
  background-image: url(./assets/images/work-thumbs/fly-app.png);
}

.work2 {
  background-image: url(./assets/images/work-thumbs/response-media.png);
}

.work3 {
  background-image: url(./assets/images/work-thumbs/my-school.png);
}

.work4 {
  background-image: url(./assets/images/work-thumbs/material_trader_mobiles.png);
}

.work5 {
  background-image: url(./assets/images/work-thumbs/tech_bros_home_demo.jpg);
}

.work6 {
  background-image: url(./assets/images/work-thumbs/PokeGo-mobile.png);
}

.work7 {
  background-image: url(./assets/images/work-thumbs/rainorshine_day.png);
}

.work8 {
  background-image: url(./assets/images/work-thumbs/code_quiz.jpg);
}

article:hover {
  border: 3px solid var(--light);
  background-color: var(--light);
  color: var(--dark);
  filter: drop-shadow(0 0 0);
}

/* RESUME PAGE */
.experience-item {
  width: 80%;
  margin: auto;
  margin: 10px auto;
}

#resume-experience,
#resume-tools,
#resume-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  margin: 0px;
  margin-bottom: 80px;
  background-color: white;
  border: 2px solid var(--dark);
  z-index: 2;
}

#resume-experience {
  padding-bottom: 60px;
}

.centerTitle {
  align-self: center;
  text-align: center;
  margin-top: 20px;
}

.centerTitle h1 {
  color: var(--dark);
}

.resumeBtn {
  height: 30px;
}

button {
  border: none;
  background: none;
}

h2 {
  font-family: tungsten, sans-serif;
  letter-spacing: 3px;
  font-size: 21pt;
  line-height: 21pt;
  font-weight: 900;
  color: rgb(19, 19, 19);
  margin-bottom: 8px;
  margin-top: 0px;
}

h4 {
  font-family: monospace;
  color: var(--light);
  margin: 0;
}

.logos {
  margin: 20px;
  height: 85px;
  width: auto;
}

li,
ul,
h5 {
  font-family: futura, sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin: 0px;
  color: var(--dark);
}

li {
  margin: 6px 0px;
}

h5 {
  margin-top: 8px;
}

.flexwork {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bullets {
  width: 80%;
}

.flexschool {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 130px;
}

.flexgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: left;
}

table {
  width: 80%;
  border: 1px solid rgb(69, 196, 255);
  border-collapse: collapse;
  text-align: center;
  margin: auto;
  margin-bottom: 35px;
}

th {
  font-family: tungsten, sans-serif;
  letter-spacing: 3px;
  font-size: 26px;
  padding: 15px;
  text-align: center;
  border: 1px solid rgb(69, 196, 255);
  border-collapse: collapse;
}

th:hover {
  color: var(--light);
}

#tableheader {
  color: white;
  font-family: paralucent, sans-serif;
  font-size: 23px;
  font-weight: 900;
  background-color: var(--dark);
  letter-spacing: 0.1em;
}

td {
  border: 1px solid var(--light);
  border-collapse: collapse;
  font-family: futura, sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding: 10px;
  color: rgb(27, 27, 27);
  background-color: rgb(244, 244, 244);
}

td:hover {
  color: var(--light);
}

/* ABOUT */

.flexprofile {
  display: flex;
  padding: 0px;
  background-color: white;
  border: 2px solid var(--dark);
}

#headshot {
  display: block;
  width: 40%;
  height: auto;
}

#profile-content {
  padding: 20px;
  width: 60%;
}

#profile-content h1 {
  margin-top: 40px;
}

p {
  color: rgb(27, 27, 27);
  font-family: futura, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  border-radius: 0 18px 18px 0;
}

.send {
  font-family: teko, sans-serif;
  letter-spacing: 3px;
  font-size: 24px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: var(--light);
  margin: 25px 0px;
  width: fit-content;
  padding: 3px 25px 0px 25px;
  align-self: center;
}

.send:hover {
  box-shadow: 0px 1px 5px rgb(44, 44, 84);
}

/* CONTACT */
#contact-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background-color: var(--dark);
  height: auto;
  padding: 40px;
  margin: auto;
}

#contact-form h1 {
  color: white;
}

form {
  text-align: center;
}

input {
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 5px;
  font-family: monospace;
  color: rgb(177, 177, 177);
  border: 2px solid transparent;
}

input:hover {
  border: 2px solid rgb(69, 196, 255);
}

#message {
  height: 100px;
}

#send:hover {
  color: var(--light);
  box-shadow: 0px 1px 7px rgb(15, 24, 48);
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
  height: 300px;
  width: 100%;
  z-index: 1;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer a {
  color: var(--dark);
  text-decoration: none;
  font-family: teko, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}

/* FOOTER */
.icon {
  width: auto;
  height: 50px;
  margin: 10px;
}

.icon:hover,
.resumeBtn:hover {
  filter: drop-shadow(0 2px 6px var(--light));
}

footer a:hover {
  color: var(--light);
}

p.error-text {
  color: var(--light);
  align-self: center;
  margin-top: 0;
}

@media screen and (min-width: 2200px) {
  #work-page,
  #resume-page,
  #about-page,
  #contact-page {
    width: 50%;
  }

  #work-page,
  #header {
    width: 50%;
  }

  #resume-page {
    width: 40%;
  }

  article {
    height: 400px;
    max-width: 700px;
  }
}

@media screen and (min-width: 1800px) {
  #header,
  #work-page,
  #resume-page,
  #about-page {
    width: 70%;
  }
}

@media screen and (max-width: 1500px) {
  #header,
  #work-page {
    width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  nav {
    flex-direction: column;
    justify-items: center;
    margin: 0px;
  }

  .flexgrid {
    flex-direction: column;
  }

  #about-page {
    width: 50%;
  }

  #profile-content {
    width: 90%;
    padding: 20px;
  }

  .flexprofile {
    flex-direction: column;
    align-items: center;
  }

  .flexschool {
    flex-direction: row;
    max-width: fit-content;
    align-items: center;
  }

  #headshot {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  header a h1 {
    font-size: 32px;
    margin: 0px 20px;
  }

  #resume-page,
  #contact-page {
    width: 90%;
  }

  #about-page {
    width: 70%;
  }

  #readMore {
    margin-left: 35px;
  }

  .work1,
  .work2,
  .work3,
  .work4 {
    width: -webkit-fill-available;
    min-height: 300px;
  }

  .work-grid {
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }

  .icon {
    width: auto;
    height: 40px;
    margin: 10px;
  }

  #socials {
    text-align: center;
    margin-bottom: 20px;
  }

  .flexschool {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 501px) {
  #logo {
    max-width: 110px;
    max-height: auto;
  }

  .logos {
    height: 70px;
  }

  #logolockup {
    display: flex;
    justify-items: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  header a h1,
  .education-header h1,
  h2 {
    width: fit-content;
    font-size: 24px;
    line-height: 24px;
  }

  #about-page,
  .experience-item {
    width: 90%;
  }

  #resume-experience {
    padding: 0px;
    padding-bottom: 25px;
    margin: 0px;
  }

  header {
    flex-direction: column;
    justify-content: space-around;
  }

  article {
    margin: 0px 0px 20px 0px;
  }

  th {
    padding: 15px;
  }

  table {
    margin-bottom: 35px;
    width: 90%;
  }

  input {
    width: 90%;
  }

  #message {
    height: 100px;
  }

  .bullets {
    width: 90%;
  }
}
